.post-single {
    /* background-color: #2c3c3f;
    color: #dedede;
    box-shadow: 1px 1px 2px rgba(0,0,0,.15); */

    max-width: 980px;
    margin: 0 auto;
    display: flex;
}

.post-content {
    flex: 1;
    border: 2px dashed #a7adc1;
    border-radius: 2px;
    background: #d6dbf2;
    color: #2c3c3f;
    padding: 10px;
    
}

.post-single:not(:first-child) {
    margin-top: 25px;
}

.user {
    /* border: 2px dashed #a7adc1;
    border-radius: 2px;
    background: #d6dbf2;
    color: #2c3c3f; */
    display: inline-block;
    font-weight: bold;
}

.message {
    padding: 10px 0;
    font-size: 18px;
}

.vote-button {

}

.vote {
    display: flex;
    flex: initial;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    justify-content: space-around;
}

.vote .vote-button,
.vote .vote-count {
    flex: initial;
    text-align: center;
}

.downvote {  
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #868a8b;
}

.downvote:hover {
    border-top-color: #acb1b3;;
}

.upvote {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #868a8b;
    display: block;
    background: none;
}

.upvote:hover {
    border-bottom-color: #acb1b3;;
}

.upvote:hover,
.downvote:hover {
    cursor: pointer;
}